<!DOCTYPE html>
<html>
<head>
    <title>Product Prices</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function fetchPrices() {
            const productName = document.getElementById('product_name').value;
            fetch(`/prices?product_name=${productName}`)
                .then(response => response.json())
                .then(data => {
                    let output = '<h2>Products:</h2>';
                    data.forEach(product => {
                        output += `
                            <div class="product">
                                <h3>${product.site}: ${product.price}</h3>
                                <p>Title: ${product.title}</p>
                                <img src="${product.image}" alt="Product Image" class="product-image">
                                <p><a href="${product.url}" target="_blank">View Product</a></p>
                            </div>
                        `;
                    });
                    document.getElementById('products').innerHTML = output;
                })
                .catch(error => {
                    console.error('Error fetching data:', error);
                });
        }
    </script>
</head>
<body>
    <h1>Search Product Prices</h1>
    <input type="text" id="product_name" placeholder="Enter product name">
    <button onclick="fetchPrices()">Search</button>
    <div id="products"></div>
</body>
</html>
